.contact-wrapper, .about-wrapper, .skills-wrapper, .projects-wrapper, .interests-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background: $background-two;
}

.contact-container, .about-container, .skills-container, .projects-container, .interests-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-height: 500px;
  h1,h3{
    text-align: center;
  }
}

.contact-title, .about-title, .skills-title, .projects-title, .interests-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.interests-wrapper, .projects-wrapper {
  background: $background-one;
}

.h4 {
  font-size: 0.2rem;
}

.skills-image{
  width: calc(100vw*0.2);
}

.skills-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 7px;
}

.break {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.contact-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.interests-intro {
  display: flex;
  align-items: center;
  .interests-text {
    padding: 15px;
}
.interests-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    border-radius: 25px;
    max-width: 60%;
    padding: 5px;
}
}
}


@media (min-width: 768px){
  .contact-wrapper, .about-wrapper, .skills-wrapper, .projects-wrapper, .interests-wrapper {
    height: calc(100vh - 40px);
  }
  .skills-image{
    width: calc(100vw*0.08);
  }

  img {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .contact-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(100vw*0.2);
    img {
      width: calc(100vw*0.04);
  }
  }

  .projects-intro {
    min-width: calc(100vw*0.6);
    min-height: calc(100vh*0.6);
    display: flex;
    justify-content: center;
  }
    .carousel-inner {
      width: calc(100vw*0.8);
      .carousel-indicators {
        padding: 30px;
      }
  }
  h3 {
    margin-top: 30px;
  }
}