.contact-wrapper, .about-wrapper, .skills-wrapper, .interests-wrapper, .p1-wrapper, .p2-wrapper, .p3-wrapper, .p4-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background: $background-two;
}

.contact-container, .about-container, .skills-container, .interests-container, .p1-container, .p2-container, .p3-container, .p4-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-height: 500px;
  h1,h3{
    text-align: center;
  }
}

.contact-title, .about-title, .skills-title, .interests-title, .p1-title, .p2-title, .p3-title, .p4-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.interests-wrapper, .p1-wrapper, .p3-wrapper, .about-wrapper  {
  background: $background-one;
}

.h4 {
  font-size: 0.2rem;
}

.skills-image{
  width: calc(100vw*0.2);
}

.skills-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 7px;
}

.break {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.contact-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.interests-intro {
  display: flex;
  align-items: center;
  .interests-text {
    padding: 15px;
}
.interests-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    border-radius: 25px;
    max-width: 60%;
    padding: 5px;
}
}
}


@media (min-width: 768px){
  .contact-wrapper, .about-wrapper, .skills-wrapper, .projects-wrapper, .interests-wrapper,  .p1-wrapper, .p2-wrapper, .p3-wrapper, .p4-wrapper {
    height: calc(100vh - 40px);
  }
  .skills-image{
    width: calc(100vw*0.08);
  }

  img {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .contact-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(100vw*0.2);
    img {
      width: calc(100vw*0.04);
  }
  }

  .p1-container, .p2-container, .p3-container, .p4-container {
    h5 {
      padding: 5px;
  }
  img{
    border-radius: 25px;
  }
  }
}