.contact-wrapper, .about-wrapper, .skills-wrapper, .interests-wrapper, .projects-wrapper, .projects-detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background: $background-two;
}

.contact-container, .about-container, .skills-container, .interests-container, .projects-container, .projects-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-height: calc(100vh - 40px);
    h1,h3{
    text-align: center;
  }
}

.contact-title, .about-title, .skills-title, .interests-title, .projects-detail-title, .projects-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.interests-wrapper, .projects-detail-wrapper, .about-wrapper  {
  background: $background-one;
}

.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 250px;
    border-radius: 30px;
}
h5 {
  padding: 20px;
}
}

.project-detail-top, .project-detail-bottom {
  display: flex;
}

.project-detail {
width: calc(40vw);
border: solid 1px black;
border-radius: 5px;
padding: 5px;
margin: 5px;
h2, h3, h5{
  padding:5px;
  font-size: 0.7rem;
}
h2{
  text-decoration: underline;
}
}


.carousel-item{
  img {
    width: calc(90vw);
    border-radius: 15px;
}.carousel-caption{
  display: none;
}
}

.h4 {
  font-size: 0.2rem;
}

.skills-image{
  width: calc(100vw*0.2);
}

.skills-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 7px;
}

.break {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.contact-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  img{
    width:50px;
    margin: 30px 0;
  }
}

.interests-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  .interests-text {
    padding: 15px;
}
.interests-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    border-radius: 25px;
    max-width: 60%;
    padding: 5px;
}
}
}

@media (min-width: 768px){

.projects-container{
  a.nav-link {
    text-decoration: underline;
}
}

//   .footer {
//     display: none;
// }

  .contact-wrapper, .about-wrapper, .skills-wrapper, .projects-wrapper, .interests-wrapper,  .projects-detail-wrapper {
    height: calc(100vh - 40px);
    min-height: 700px;
  }
  .skills-image{
    width: calc(100vw*0.08);
  }

  .about-intro{
    display:flex;
    align-items: center;
    img {
      width: 350px;
      border-radius: 70px;
      height: 350px;
      padding: 30px;
  }
  h5 {
    padding: 15px;
    font-size: 1rem;
  }
  }
  img {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .contact-intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: calc(100vw*0.2);
    img {
      width: calc(100vw*0.04);
  }
  }

.project-detail-top, .project-detail-bottom {
    display: flex;
}

.project-detail {
  width: calc(45vw);
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  h2, h3, h5{
    padding:5px;
    font-size: 1rem;
  }
  h2{
    text-decoration: underline;
  }
  }
  
  .projects-intro {
    h3 {
      background: rgba(204, 204, 204, 0.5);
      color: black;
      text-shadow: none;
    }
    .carousel-caption{
      display: unset;
    }
    img {
      border-radius: 15px;
      width: calc(70vw);
    }
}

.interests-intro{
  flex-direction: row;
}
}

@media (max-width:1000px){
  .project-detail {
    width: calc(48vw);
    padding: 0px;
    margin: 1px;
    h2, h3, h5{
      padding:5px;
      // font-size: 0.8rem;
    }
}
}

@media (max-height:650px){
  .about-intro{
    h5{
    font-size:1rem;
  }
}
}