
.contact-wrapper, .about-wrapper, .skills-wrapper, .interests-wrapper, .projects-wrapper, .projecta-detail-wrapper, .projectb-detail-wrapper, .notFound-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  background: $background-two;
  max-height: 1500px;
}

.contact-container, .about-container, .skills-container, .interests-container, .projects-container, .projecta-detail-container, .projectb-detail-container, .notFound-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-height: calc(100vh - 40px);
    h1,h3{
    text-align: center;
  }
  max-height: 1500px;
}

.contact-title, .about-title, .skills-title, .interests-title, .projects-detail-title, .projects-title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.interests-wrapper, .projectb-detail-wrapper, .about-wrapper  {
  background: $background-one;
  h1, h2, h3, h4, h5, h6{
    color: black;
    }
  .about-bold{
    color:black
  }
}

.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 250px;
    border-radius: 30px;
}
h5 {
  padding: 20px;
}
}


.project-reflections {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h6{
    text-align: center;
  }
}

.project-single-direction-a, .project-single-direction-b{
  display: flex;
  flex-direction: column;
  .project-image {
    display: flex;
    justify-content: center;
  }
  img{
    width: 250px;
    border-radius: 5px;
  }
}

.h4 {
  font-size: 0.2rem;
}

.skills-image{
  width: 75px;
  height: 75px;
  margin: 12.5px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.skills-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease-in-out;
  }

  .skills-name{
    font-size: 0.75rem;
  }

.break {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden;
}

.contact-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  img{
    width:50px;
    margin: 30px 0;
  }
}

.interests-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4{
    text-decoration: underline;
  }
  .interests-text {
    padding: 15px;
}
.interests-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    border-radius: 25px;
    width: 200px;
    height: 200px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
}


}

@media (min-width: 768px){

  .break {
    top: -40px;
  }

.projects-container{
  a.nav-link {
    text-decoration: underline;
}
}
  .contact-wrapper, .about-wrapper, .skills-wrapper, .projects-wrapper, .interests-wrapper,  .projects-detail-wrapper {
    height: calc(100vh - 40px);
    max-height: 1200px;
    min-height: 100%;
  }

  .about-intro{
    display:flex;
    align-items: center;
    img {
      width: 300px;
      border-radius: 70px;
      height: 300px;
      padding: 15px;
  }
  h5 {
    padding: 15px;
    font-size: 1rem;
  }
  }
  img {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .contact-intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: calc(100vw*0.2);
    img {
      width: calc(100vw*0.04);
  }
  }

.project-detail-top, .project-detail-bottom {
    display: flex;
}

.project-image{
  img{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}

.contact-image, .interests-images{
  img{
  &:hover {
    transform: scale(1.2);
}
  }
}

.project-detail {
  width: calc(45vw);
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  h2, h3, h5{
    padding:5px;
    font-size: 1rem;
  }
  h2{
    text-decoration: underline;
  }
  }
  
  .projects-intro {
    h3 {
      background: rgba(204, 204, 204, 0.5);
      color: black;
      text-shadow: none;
    }
    .carousel-caption{
      display: unset;
    }
    img {
      border-radius: 15px;
      width: calc(70vw);
    }
}

.interests-intro{
  flex-direction: row;
}
}

// @media (max-width:1000px){
//   .project-detail {
//     width: calc(48vw);
//     padding: 0px;
//     margin: 1px;
//     h2, h3, h5{
//       padding:5px;
//       // font-size: 0.8rem;
//     }
// }
// }

@media (max-height:650px){
  .about-intro{
  img{
    width: 200px;
    height: 200px;
  }
  h5{
    font-size: 0.8 rem;
  }
}
.skills-image{
  width: 60px;
  height: 60px;
}
}

@media (max-height:550px){
  .about-wrapper, .skills-wrapper, .interests-wrapper, .projecta-detail-wrapper, .projectb-detail-wrapper{
    min-height: 550px;
  }
  .about-intro{
    img{
      width:150px;
      height:150px;
      border-radius: 50
      0px;
    }
    h5 {
    font-size: 1 rem;
  }
}

.interests-intro{
  h5{
    font-size: 0.9rem;
  }
  .interests-images{
    img{
    width: 150px;
    height: 150px;
  }
}
}
}
.Image{
  .skills-name{
    display:none;
  }
  &:hover {
  transform: scale(1.2);
  .skills-name {
    display: unset;
    opacity: 1;
    margin: 5px 0px 15px 0px;
  }
  }
}
