.head-wrapper, .about-wrapper, .skills-wrapper, .projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.head-container, .about-container, .skills-container, .projects-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-height: 500px;
  h1,h3{
    text-align: center;
  }
}

.head-title, .about-title, .skills-title, .projects-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-wrapper, .about-container, .about-title, .projects-container, .projects-title, .projects-wrapper {
  background: $background-blue;
}

.h4 {
  font-size: 0.2rem;
}

.skills-image{
  width: calc(100vw*0.2);
}

.skills-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 7px;
}

@media (min-width: 768px){
  .head-wrapper, .about-wrapper, .skills-wrapper, .projects-wrapper {
    height: calc(100vh - 40px);
  }
  .skills-image{
    width: calc(100vw*0.08);
  }
  }

