.navbar{
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  background-color: black;
  .nav-link, span{
    margin-left: 10px;
    cursor: pointer;
    color: white;
    text-shadow: none;
  }
}

.nav-other {
  display: flex;
  flex-direction: column;
}
.nav-home{
  display: none;
}

.navbar-toggler:focus {
  color: white;
}   


@media (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: space-between;
}
.nav-other{
  display: flex;
  flex-direction: row;
}
.nav-home{
  display: unset;
}
}

