main.project-single-wrapper {
  display: flex;
  height: calc(100vh - 40px);
  align-items: center;
}

.project-single-container-right, .project-single-container-left{
  width: 50%;
  padding: 20px
}
