.project-detail-top, .project-detail-bottom {
  display: flex;
}

.project-single-direction-a, .project-single-direction-b {
  display: flex;
  .project-image{
    img{
    width: 400px;
    max-width: 90vw;
    margin-bottom: 10px;
  }
}
  h2 {
    margin: 30px 30px 10px 30px;
    text-align: center;
  }
  h5 {
    text-align: center;
  }
}

.project-single-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
  .tech-used {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 50px;
      height: 50px;
      margin: 5px;
      background: white;
      border-radius: 10px;
      padding: 5px;
    }
  }}

  .deployment-links{
    display: flex;
    justify-content: center;
    .deployment{
      width: 50px;
      height: 50px;
      background: white;
      padding: 5px;
      margin: 15px;
      &:hover {
        transform: scale(1.2);
    }
  }
  }

  @media (min-width: 768px){
  .project-single-direction-a, .project-single-direction-b{
    display: flex;
    flex-direction: row;
    .project-image{
      img{
        width: calc(40vw);
        max-width: 800px;
        margin: 10px;
      }
    }
  }
  .project-single-direction-b {
    flex-direction: row-reverse;
  }


}