// .projects-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: calc(100vh - 40px);
//   min-height: 300px;
//   background: $background-blue;
// }

// .projects-container {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
//   max-width: 1000px;
//   h1,h3{
//     text-align: center;
//   }
// }

// .projects-title {
//   margin-top: 30px;
//   margin-bottom: 30px;
// }

// .h4 {
//   font-size: 1rem;
// }