@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Electrolize&family=Lato:wght@300;400;700&display=swap');
* {
  font-family: 'sora', sans-serif;
  box-sizing: border-box;
  color: #E7DFDD;
  text-shadow: 0.5px 0.5px black;
  }