@import './variables';
@import './base';
@import './components/homepage';
@import './components/pagenavbar';
@import './components/projects';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// @import './components/about';
// @import './components/head';
// @import './components/projects';
// @import './components/skills';