* {
  box-sizing: border-box;
}

@import './variables';
@import './base';
@import './components/homepage';
@import './components/pagenavbar';
@import './components/projects';
// @import './components/about';
// @import './components/head';
// @import './components/projects';
// @import './components/skills';