$background-one: #ede8dc;
$background-two: #2b4b30;
// $background-two: linear-gradient(110deg, #6974cf 55%, #45498e 55%);
$colour-break: #0a0a0a;
$text-color-one: #E7DFDD;
$button-color: #4717F6;
$navbar: #0a0a0a;

$box-shadow: 0px 2px 10px rgba(3,4,1,0.4);